.home-container {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 80px;

  background: linear-gradient(to right,

      #1e1e1e 0%,
      #1e1e1e 40%,
      #ff6a2d 40%,
      #ff6a2d 100%);
}

.reveal {
  opacity: 0;
  transform: translate(var(--x, 0), var(--y, 0));
}

.reveal.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  margin-right: 60px;

  /* start position */
  --x: -200px;
  --y: 0;
}

.reveal.active.text-container {
  opacity: 1;
  transform: translate(0, 0);
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.home-container h1 {
  font-family: 'alex brush', cursive;
  font-weight: normal;
  font-size: 2rem;
  letter-spacing: 0;
  color: white;
  margin-top: 0px;
}

.home-container h2 {
  font-family: 'alex brush', cursive;
  font-weight: normal;
  font-size: 2rem;
  letter-spacing: 1px;
  color: rgba(177, 240, 244, 0.8);
  margin-top: 0px;
  font-weight: bold;
}

.home-container p {
  font-size: 1.2rem;
  color: whitesmoke;
  margin-bottom: 10px;
}

.name {
  color: rgba(177, 240, 244, 0.8);
  font-weight: bold;
}

.reveal.home-image-container {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 10px;
  border: 5px solid white;

  box-shadow:
    0 0 15px rgba(0, 255, 255, 0.6),
    0 0 30px rgba(0, 255, 255, 0.4);

  --x: 200px;
  --y: 0;
}

.reveal.active.home-image-container {
  opacity: 1;
  transform: translate(0, 0);
  transition: transform 1s ease-out, opacity 1s ease-out;
}


.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 30%;
}


.button {
  padding: 10px 18px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background-color: rgb(58, 113, 233);
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.button:hover {
  box-shadow:
    0 0 15px rgba(0, 255, 255, 0.6),
    0 0 30px rgba(0, 255, 255, 0.4);

  transform: translateY(-5px) scale(1.1);
}


/* Phone */
@media (max-width: 599px) {
  .home-container {
    flex-direction: column;
    height: auto;
    padding-top: 60px;
    padding-bottom: 50px;
    margin-top: 10px;

    background: linear-gradient(to bottom,
        #1e1e1e 0%,
        #1e1e1e 50%,
        #ff6a2d 65%,
        #ff6a2d 100%);
  }

  .reveal.home-image-container {
    order: 1;
    width: 200px;
    height: 200px;
    margin: 30px 0 25px 0;

    --x: 0;
    --y: 200px;
  }

  .reveal.reveal.active.home-image-container {
    opacity: 1;
    transform: translate(0,0);
    transition: transform 1s ease-out, opacity 1s ease-out;
  }


  .reveal.text-container {
    order: 2;
    width: 90%;
    margin-left: 0;
    margin-right: 10px;
    align-items: center;
    text-align: center;

    --x: 0;
    --y: -100px;
  }

  .reveal.active.text-container {
    opacity: 1;
    transform: translate(0,0);
    transition: transform 1s ease-out, opacity 1s ease-out;
  }

  .home-container h1,
  .home-container h2 {
    font-size: 1.5rem;
  }

  .home-container p {
    font-size: 1rem;
  }

}

/* Tablet */
@media (min-width: 600px) and (max-width: 900px) {
  .home-container {
    flex-direction: column !important;
    margin-top: 80px;
    height: auto;
    padding: 30px 20px;

    background: linear-gradient(to bottom,
        #1e1e1e 0%,
        #1e1e1e 50%,
        #ff6a2d 60%,
        #ff6a2d 100%);
  }

  .text-container {
    order: 2;
    width: 100% !important;
    margin-right: 0 !important;
    align-items: center !important;
    text-align: center;
  }

  .home-image-container {
    order: 1;
    width: 240px;
    height: 240px;
    margin-top: 20px;
  }
}

/* Laptop */
@media (min-width: 900px) and (max-width: 1023px) {
  .home-container {
    flex-direction: row;
    height: auto;
    padding-bottom: 30px;
    margin-top: 90px;

    background: linear-gradient(to right,

        #1e1e1e 0%,
        #1e1e1e 50%,
        #ff6a2d 60%,
        #ff6a2d 100%);
  }

  .text-container {
    width: 50%;
    margin-right: 100px;
    align-items: center;
    text-align: center;
  }

  .home-image-container {
    width: 200px;
    height: 200px;
    margin-top: 20px;
  }
}

/* Extra Large */
@media (min-width: 1440px) {
  .home-container {
    height: 600px;
  }

  .text-container {
    width: 35%;
  }

  .home-container h1,
  .home-container h2 {
    font-size: 2.4rem;
  }

  .home-container p {
    font-size: 1.3rem;
  }

  .home-image-container {
    width: 340px;
    height: 340px;
  }
}



.education-skill {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  /* space between Education & Skills */
  padding: 4rem 6rem;
  /* inner spacing */
  background: #1e1e1e;
  align-items: start;
  /* top align both columns */
}

/* Phone */
@media (max-width: 599px) {

  .education-skill {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
  }


  /* EDUCATION */
  .education {
    padding: 0;
  }

  .timeline {
    padding-left: 25px;
  }

  .timeline::before {
    left: 8px;
    height: 100%;
  }

  .content {
    width: 100%;
    margin-left: 25px;
    padding: 15px;
  }

  /* SKILL */
  .skill-container {
    justify-content: center;
  }

  .skill-content {
    width: 100%;
  }

  .skill-image {
    width: 160px !important;
  }
}

/* Tablet */
@media (min-width: 600px) and (max-width: 900px) {

  .education-skill {
    grid-template-columns: 1fr;
    padding: 3rem 3rem;
    gap: 4rem;
  }

  .content {
    width: 100%;
    max-width: 480px;
  }

  .skill-content {
    width: 360px;
  }
}

/* Laptop */
@media (min-width: 900px) and (max-width: 1023px) {

  .education-skill {
    grid-template-columns: 1fr 1fr;
    padding: 3rem 3rem;
    gap: 4rem;
  }

  .content {
    width: 100%;
    max-width: 480px;
  }

  .skill-content {
    width: 360px;
  }
}

/* Extra Large */
@media (min-width: 1440px) {

  .education-skill {
    padding: 5rem 10rem;
    gap: 6rem;
  }

  .content {
    width: 500px;
  }

  .skill-content {
    width: 380px;
  }

  .section-title {
    font-size: 3rem;
  }
}