.navbar {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: rgb(46, 45, 45);
}

.logo a {
  position: relative;
  font-family: 'alex brush', cursive;
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.logo a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: rgb(165, 237, 244);
  box-shadow: 1px 1px 5px rgb(165, 237, 244);
  transition: width 0.2s ease-out;
}

.logo a:hover::after {
  width: 100%;
  /* underline width */
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.menu {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.menu li a {
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.menu li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: rgb(165, 237, 244);
  transition: width 0.2s ease-out;

  box-shadow: 1px 1px 5px rgb(165, 237, 244);
}

.menu li a:hover::after {
  width: 100%;
  /* underline width */
}

/*
.white {
  width: 100%;
  height: 3px;
  background-color: white;
  z-index: 50;
  position: fixed;
}
*/


.menu-bar {
  display: none;
  color: white;
}

.menu .close-icon {
  display: none;
  color: white;
}

@media (max-width: 768px) {
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 250px;
    background: black;
    flex-direction: column;
    padding-top: 50px;
    transition: 0.3s ease;
  }

  .menu.active {
    right: 0;
  }

  .menu .close-icon {
    display: block;
    font-size: 1.8rem;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .menu-bar {
    display: block;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .menu-bar i:hover,
  .close-icon:hover {
    color: aqua;
  }
}