.projects {
    height: 100%;
    text-align: center;
    background: black;
    margin-top: 2Px;
}

.projects .section-title {
    margin: 0;
    padding-top: 30px;
    margin-bottom: 20px;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.reveal {
    opacity: 0;
    transform: translate(var(--x, 0), var(--y, 0));
    transition: transform 1s linear, opacity 1s linear;
}

.reveal.project-card {
    width: 300px;
    height: 300px;
    border-radius: 1.5rem;
    margin: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    isolation: isolate;
    overflow: hidden;
}

/* odd → from left */
.projects-container>.project-card:nth-child(odd) {
    --x: -200px;
}

/* even → from right */
.projects-container>.project-card:nth-child(even) {
    --x: 200px;
}

.reveal.active.project-card {
    opacity: 1;
    --x: 0;
    --y: 0;
}

.project-card::before,
.project-card::after {
    content: '';
    position: absolute;
}

.project-card::before {
    width: 200%;
    height: 200%;
    background-image: conic-gradient(rgb(81, 0, 255) 0deg, transparent 60deg, transparent 180deg, red 180deg, transparent 240deg);
    inset: -50%;
    z-index: -2;
    animation: border-animation 4.5s linear infinite;
    filter: blur(15px);
}

.project-card:hover::before {
    animation-play-state: paused;
    opacity: 0;
}

@keyframes border-animation {
    to {
        transform: rotate(-360deg);
        filter: blur(5px);
    }
}

.project-card::after {
    background: black;
    inset: 4px;
    border-radius: 1rem;
    transition: all 0.3s linear;
    z-index: -1;
}

.project-card:hover::after {
    background: #111;
}



.image-container {
    position: relative;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.image-container:hover {
    transform: scale(1.05);
}

.project-image {
    margin-top: 5px;
    width: 290px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}

.project-links {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.image-container:hover .project-links {
    opacity: 1;
}

.project-links img {
    width: 30px;
    height: 30px;
    overflow: hidden;
}

.project-name {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    color: #87cefa;
}

.project-description {
    font-size: 12px;
    margin: 10px;
    color: white;
    padding-bottom: 10px;
}

.live-link {
    display: none;
    margin: 0;
    margin-bottom: 15px;
    color: wheat;
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration-color: beige;
    text-underline-offset: 5px;
}

/* Phone */
@media (max-width: 420px) {
    .reveal.project-card {
        width: 70% !important;
        height: auto;
        /* IMPORTANT */
    }

    .project-image {
        width: 96% !important;
        height: 120px;
    }

    .project-name {
        margin-top: 20px;
        font-size: 16px;
    }

    .project-description {
        font-size: 10px;
    }

    .live-link {
        display: block;
    }

    .project-links {
        display: none;
    }

    .image-container:hover {
        transform: none;
    }

}

@media (min-width: 421px) and (max-width: 600px) {
    .reveal.project-card {
        width: 50% !important;
        height: auto;
        /* IMPORTANT */
    }

    .project-image {
        width: 96% !important;
        height: 150px;
    }

    .project-name {
        margin-top: 20px;
        font-size: 16px;
    }

    .project-description {
        font-size: 10px;
    }

    .live-link {
        display: block;
    }

    .project-links {
        display: none;
    }

    .image-container:hover {
        transform: none;
    }

}

/* Tablet */
@media (min-width: 601px) and (max-width: 900px) {
    .reveal.project-card {
        width: 250px;
        height: 250px;
    }

    .project-image {
        width: 240px;
        height: 150px;
    }

}